* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

:root {
  --bg1: #ebebeb;
  --bg2: #abff4f;
  --bg3: #ffffff;
  --b4: #f9e0e4;
  --bg5: #fabdbd;
  --bg6: #e9dada;
}

body {
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
}

#warpper {
  max-width: 1000px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#side_menu {
  background-color: var(--bg3);
  height: 100vh;
  width: 25%;
  max-width: 250px;
  gap: 3px;
  overflow-y: auto;
}

.link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--b4);
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  color: black;
}

.link:hover {
  background-color: var(--bg1);
}

.link.active {
  background-color: var(--bg5);
}

a.link {
  border-bottom: 1px solid black;
}

#container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container h1 {
  font-size: 4rem;
  text-align: center;
  color: black;
  height: 10vh;
}

#main_container {
  width: 80%;
  height: 80vh;
  border-radius: 25px;
  background-color: white;
  margin-left: 10%;
  padding: 10px;
  overflow-y: auto;
}

.tabel {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.tabel th,
.tabel td {
  border: 1px solid black;
}

.text_center {
  text-align: center !important;
}

.add {
  background-color: var(--bg6);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
}

.edit_btn {
  background-color: var(--bg6);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
}

.delete_btn {
  background-color: var(--b4);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
}

.modal_content {
  background-color: white;
  border-radius: 25px;
  margin-top: 20vh;
  width: 40vw;
  height: 30vh;
  padding: 5px 15px;
  box-sizing: border-box;
}

.form_control {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.submit_btn {
  background-color: var(--bg6);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
}

.cancel_btn {
  background-color: var(--b4);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
}

.drop-down {
  width: 100%;
}

.drop-down button {
  background-color: var(--b4);
  width: 100%;
  background-color: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
}

.drop-down button {
  border-bottom: 1px solid black;
}

.drop-down button:hover {
  background-color: var(--bg1);
}

.drop-down.active button {
  background-color: var(--bg5);
}

.drop-down ul {
  display: none;
}

.drop-down:hover ul {
  display: block;
}

.drop-down.active ul {
  display: block;
}

li {
  display: block;
  width: 100%;
  background-color: var(--b4);
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px black solid;
}

li a {
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  color: black;
}

li.active {
  background-color: var(--bg5);
}

li:hover {
  background-color: var(--bg1);
}
