{% extends "templates.html" %}

{% block main %}
<legend>Data Master Aspek</legend>
<button class="add" id="add_btn">Add Aspek</button>
<!-- filter -->
<div id="filter">
  <label for="domain_cb_filter">Domain</label>
  <select name="domain" id="domain_cb_filter" class="form_control"></select>
</div>
<table class="tabel" id="tabel_data">
  <thead>
    <th>No</th>
    <th>Nama</th>
    <th>Bobot</th>
    <th>Aksi</th>
  </thead>
  <tbody id="body_data">
    <tr>
      <td colspan="4" class="text_center">No Data</td>
    </tr>
  </tbody>
</table>
{% endblock %}
{% block modal_content %}
<input type="hidden" name="id" id="id_tf">
<div id="nama_div">
  <label for="nama">Nama</label>
  <input type="text" name="nama" id="nama_tf" class="form_control">
</div>
<div id="bobot_div">
  <label for="bobot">Bobot</label>
  <input type="text" name="bobot" id="bobot_tf" class="form_control">
</div>
<div id="filter">
  <label for="domain_cb">Domain</label>
  <select name="domain" id="domain_cb" class="form_control"></select>
</div>
{% endblock %}
{% block scriptJS %}
<script src="assets/js/aspek.js"></script>
{% endblock %}