{% extends "templates.html" %} {% block main %}
<legend>Data Clustering Agglomerative</legend>
<!-- filter -->
<div id="filter">
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
</div>
<div id="chk"></div>
<table class="tabel" id="tabel_data">
  <thead id="head_data"></thead>
  <tbody id="body_data">
    <tr>
      <td colspan="4" class="text_center">No Data</td>
    </tr>
  </tbody>
</table>
{% endblock %} {% block scriptJS %}
<script src="assets/js/clustering_agglo.js"></script>
{% endblock %}
