{% extends "templates.html" %} {% block main %}
<legend>Data Clustering Kmeans</legend>
<!-- filter -->
<div id="filter">
  <label for="mode_filter">Mode</label>
  <select name="mode" id="mode_filter" class="form_control">
    <option value="0">Normal</option>
    <option value="1">Dikali Bobot Indikator</option>
  </select>
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <label for="area_cb_filter">Cluster By</label>
  <select name="area" id="area_cb_filter" class="form_control">
    <option value="I">Semua - Indeks </option>
    <option value="D1">Semua - Domain1 </option>
    <option value="D2">Semua - Domain2 </option>
    <option value="D3">Semua - Domain3 </option>
    <option value="D4">Semua - Domain4 </option>
    <option value="A1">Semua - Aspek1 </option>
    <option value="A2">Semua - Aspek2 </option>
    <option value="A3">Semua - Aspek3 </option>
    <option value="A4">Semua - Aspek4 </option>
    <option value="A5">Semua - Aspek5 </option>
    <option value="A6">Semua - Aspek6 </option>
    <option value="A7">Semua - Aspek7 </option>
    <option value="A8">Semua - Aspek8 </option>
  </select>
</div>

<div id="indikator_div">
  <span id="indikator_span">
    <input
      type="checkbox"
      name="indikator"
      id="indikator"
      class="indikator_chk"
      onchange="load_data()"
    /><label for="indikator">Nilai</label>
  </span>
</div>

<div>
  <label for="search">Search</label>
  <input type="text" id="search" class="form_control" onchange="load_data()" />
</div>

<table class="tabel" id="tabel_data">
  <thead id="head_data"></thead>
  <tbody id="body_data">
    <tr>
      <td colspan="4" class="text_center">No Data</td>
    </tr>
  </tbody>
</table>
{% endblock %} {% block scriptJS %}
<script src="assets/js/clustering.js"></script>
{% endblock %}
