{% extends "templates.html" %} {% block linkCSS %}
<link rel="stylesheet" href="assets/css/perbandingan_indikator.css" />
{% endblock %} {% block main %}
<legend>Dendrogram Agglomerative</legend>
<div id="filter">
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <label for="linkage_cb_filter">Linkage</label>
  <select name="linkage" id="linkage_cb_filter" class="form_control">
    <option value="complete">Complete</option>
    <option value="single">Single</option>
    <option value="average">Average</option>
    <option value="ward">Ward</option>
  </select>
  <label for="area_cb_filter">Cluster By</label>
  <select name="area" id="area_cb_filter" class="form_control">
    <!-- <option value="0">\Semua</option> -->
  </select>
</div>
<div id="tampil_perbandingan"></div>

{% endblock %} {% block scriptJS %}
<script src="assets/js/dend_agglo_score.js"></script>
{% endblock %}
