{% extends "templates.html" %} {% block linkCSS %}
<link rel="stylesheet" href="assets/css/perbandingan_indikator.css" />
{% endblock %} {% block main %}
<legend>Dendrogram Agglomerative</legend>
<div id="filter">
  <label for="mode_filter">Mode</label>
  <select name="mode" id="mode_filter" class="form_control">
    <option value="0">Normal</option>
    <option value="1">Dikali Bobot Indikator</option>
  </select>
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <label for="linkage_cb_filter">Linkage</label>
  <select name="linkage" id="linkage_cb_filter" class="form_control">
    <option value="complete">Complete</option>
    <option value="single">Single</option>
    <option value="average">Average</option>
    <option value="ward">Ward</option>
  </select>
  <label for="area_cb_filter">Cluster By</label>
  <select name="area" id="area_cb_filter" class="form_control">
    <option value="I">Semua - Indeks </option>
    <option value="D1">Semua - Domain1 </option>
    <option value="D2">Semua - Domain2 </option>
    <option value="D3">Semua - Domain3 </option>
    <option value="D4">Semua - Domain4 </option>
    <option value="A1">Semua - Aspek1 </option>
    <option value="A2">Semua - Aspek2 </option>
    <option value="A3">Semua - Aspek3 </option>
    <option value="A4">Semua - Aspek4 </option>
    <option value="A5">Semua - Aspek5 </option>
    <option value="A6">Semua - Aspek6 </option>
    <option value="A7">Semua - Aspek7 </option>
    <option value="A8">Semua - Aspek8 </option>
  </select>
</div>
<div id="tampil_perbandingan"></div>

{% endblock %} {% block scriptJS %}
<script src="assets/js/dend_agglo_score.js"></script>
{% endblock %}
