{% extends "templates.html" %} {% block linkCSS %}
<link rel="stylesheet" href="assets/css/perbandingan_indikator.css" />
{% endblock %} {% block main %}
<legend>Elbow antara Domain</legend>
<!-- filter -->
<div id="filter">
  <label for="group_cb_filter">Group Instansi</label>
  <select name="group" id="group_cb_filter" class="form_control"></select>
  <div id="filter_left">
    <label for="domain1_cb_filter">Domain 1</label>
    <select name="domain1" id="domain1_cb_filter" class="form_control"></select>
  </div>
  <div id="filter_right">
    <label for="domain2_cb_filter">Domain 2</label>
    <select name="domain2" id="domain2_cb_filter" class="form_control"></select>
  </div>
</div>
<div id="tampil_perbandingan"></div>
{% endblock %} {% block scriptJS %}
<script src="assets/js/elbow_domain.js"></script>
{% endblock %}
