{% extends "templates.html" %} {% block linkCSS %}
<link rel="stylesheet" href="assets/css/perbandingan_indikator.css" />
{% endblock %} {% block main %}
<legend>Elbow Index</legend>
<div id="filter">
  <label for="mode_filter">Mode</label>
  <select name="mode" id="mode_filter" class="form_control">
    <option value="0">Normal</option>
    <option value="1">Dikali Bobot Indikator</option>
  </select>
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <label for="area_cb_filter">Area</label>
  <select name="area" id="area_cb_filter" class="form_control">
    <!-- <option value="0">Semua</option> -->
  </select>
</div>
<div id="tampil_perbandingan"></div>

<table id="score_tabel" border="1">
  <thead>
    <th>K</th>
    <th>Score</th>
  </thead>
  <tbody id="data_score"></tbody>
</table>
{% endblock %} {% block scriptJS %}
<script src="assets/js/elbow_index.js"></script>
{% endblock %}
