<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penilaian Kinerja SPBE| Grup</title>
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <div id="warpper">
    <div id="side_menu">
      <a href="/" class="link">Home</a>
      <p>Master Data</p>
      <a href="/predikat" class="link">Predikat</a>
      <a href="/grup" class="link">Grup Instansi</a>
      <a href="/instansi" class="link active">Instansi</a>
      <a href="/domain" class="link">Domain</a>
      <a href="/aspek" class="link">Aspek</a>
      <a href="/indikator" class="link">Indikator</a>
      <p>Transaksi</p>
      <a href="/isi" class="link">Isi Indikator</a>
      <p>Laporan</p>
      <a href="/index_indikator_instansi" class="link">Tabel Index Indikator per Instansi</a>
      <a href="/index_aspek_instansi" class="link">Tabel Index Aspek per Instansi</a>
      <a href="/index_domain_instansi" class="link">Tabel Index Domain per Instansi</a>
    </div>
    <div id="container">
      <h1>Penilaian Kinerja SPBE</h1>
      <div id="main_container">
        <legend>Data Master Instansi</legend>
        <button class="add" id="add_btn">Add Instansi</button>
        <!-- filter -->
        <div id="filter">
          <label for="grup_cb">Group</label>
          <select name="grup" id="grup_cb_filter" class="form_control"></select>
        </div>
        <table class="tabel" id="tabel_data">
          <thead>
            <th>No</th>
            <th>Nama</th>
            <th>Aksi</th>
          </thead>
          <tbody id="body_data">
            <tr>
              <td colspan="3" class="text_center">No Data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="modal_form" class="modal">
    <div class="modal_content">
      <input type="hidden" name="id" id="id_tf">
      <div id="nama_div">
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama_tf" class="form_control">
      </div>
      <div id="filter">
        <label for="grup_cb">Group</label>
        <select name="grup" id="grup_cb" class="form_control"></select>
      </div>
      <button class="submit_btn" id="submit_btn">Submit</button>
      <button class="cancel_btn" id="cancel_btn">Cancel</button>
    </div>
  </div>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/instansi.js"></script>
</body>

</html>