<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Penilaian Kinerja SPBE| Grup</title>
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <div id="warpper">
    <div id="side_menu">
      <a href="/" class="link">Home</a>
      <p>Master Data</p>
      <a href="/predikat" class="link">Predikat</a>
      <a href="/grup" class="link">Grup Instansi</a>
      <a href="/instansi" class="link">Instansi</a>
      <a href="/domain" class="link">Domain</a>
      <a href="/aspek" class="link">Aspek</a>
      <a href="/indikator" class="link ">Indikator</a>
      <p>Transaksi</p>
      <a href="/isi" class="link active">Isi Indikator</a>
      <p>Laporan</p>
      <a href="/index_indikator_instansi" class="link">Tabel Index Indikator per Instansi</a>
      <a href="/index_aspek_instansi" class="link">Tabel Index Aspek per Instansi</a>
      <a href="/index_domain_instansi" class="link">Tabel Index Domain per Instansi</a>
    </div>
    <div id="container">
      <h1>Penilaian Kinerja SPBE</h1>
      <div id="main_container">
        <legend>Data Master Indikator</legend>
        <button class="add" id="add_btn">Add Indikator</button>
        <!-- filter -->
        <div id="filter">
          <label for="instansi_cb_filter">Instansi</label>
          <select name="instansi" id="instansi_cb_filter" class="form_control"></select>
        </div>
        <div id="filter">
          <label for="domain_cb_filter">domain</label>
          <select name="domain" id="domain_cb_filter" class="form_control"></select>
        </div>
        <div id="filter">
          <label for="aspek_cb_filter">aspek</label>
          <select name="aspek" id="aspek_cb_filter" class="form_control"></select>
        </div>
        <div id="filter">
          <label for="year_cb_filter">year</label>
          <input type="number" step="1" min="2021" name="year_tf_filter" id="year_tf_filter" class="form_control" value="2021">
        </div>
        <table class="tabel" id="tabel_data">
          <thead>
            <th>No</th>
            <th>Indikator</th>
            <th>Value</th>
            <th>Aksi</th>
          </thead>
          <tbody id="body_data">
            <tr>
              <td colspan="4" class="text_center">No Data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="modal_form" class="modal">
    <div class="modal_content">
      <div id="filter">
        <label for="instansi_cb">instansi</label>
        <select name="instansi" id="instansi_cb" class="form_control"></select>
      </div>
      <div id="filter">
        <label for="domain_cb">domain</label>
        <select name="domain" id="domain_cb" class="form_control"></select>
      </div>
      <div id="filter">
        <label for="aspek_cb">aspek</label>
        <select name="aspek" id="aspek_cb" class="form_control"></select>
      </div>
      <div id="filter">
        <label for="year_cb">year</label>
        <input type="number" step="1" min="2021" value="2021" id="year_tf" class="form_control">
      </div>
      <div id="filter">
        <label for="indikator_cb">indikator</label>
        <select name="indikator" id="indikator_cb" class="form_control"></select>
      </div>
      <div id="value_div">
        <label for="value">value</label>
        <input type="number" step="0.01" min="0" name="value" id="value_tf" class="form_control">
      </div>

      <button class="submit_btn" id="submit_btn">Submit</button>
      <button class="cancel_btn" id="cancel_btn">Cancel</button>
    </div>
  </div>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/isi.js"></script>
</body>

</html>