{% extends "templates.html" %} {% block main %}
<legend>PCA Agglomerative</legend>
<div id="filter">
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <label for="cari_cb_filter">cari</label>
  <select name="cari" id="cari_cb_filter" class="form_control">
    <option value="semua">Semua</option>
    <option value="domain_1">Domain 1</option>
    <option value="domain_2">Domain 2</option>
    <option value="domain_3">Domain 3</option>
    <option value="domain_4">Domain 4</option>
  </select>
  <label for="linkage_cb_filter">Linkage</label>
  <select name="linkage" id="linkage_cb_filter" class="form_control">
    <option value="complete">Complete</option>
    <option value="single">Single</option>
    <option value="average">Average</option>
  </select>
</div>
<div id="tampil_perbandingan"></div>

{% endblock %} {% block scriptJS %}
<script src="assets/js/pca_agglo.js"></script>
{% endblock %}
