{% extends "templates.html" %}
{% block main %}
<legend>Perbandingan antara Indikator</legend>
<!-- filter -->
<div id="filter">
  <label for="group_cb_filter">Group Instansi</label>
  <select name="group" id="group_cb_filter" class="form_control"></select>
  <label for="domain_cb_filter">Domain</label>
  <select name="domain1" id="domain_cb_filter" class="form_control"></select>
  <label for="aspek_cb_filter">Aspek</label>
  <select name="aspek" id="aspek_cb_filter" class="form_control"></select>
  <label for="indikator_cb_filter">Indikator</label>
  <select name="indikator" id="indikator_cb_filter" class="form_control"></select>
</div>
<div id="tampil_perbandingan"></div>
{% endblock %} {% block scriptJS %}
<script src="assets/js/perbandingan_index_indikator.js"></script>
{% endblock %}