{% extends "templates.html" %}
{% block main %}
<legend>Peta</legend>
<div id="filter">
  <label for="year_cb_filter">Year</label>
  <select name="year" id="year_cb_filter" class="form_control"></select>
  <select name="tipe" id="tipe_cb_filter">
    <option value="1">Provinsi</option>
    <option value="0">Kota/Kabupaten</option>
  </select>
  <select name="domain_filter" id="domain_cb_filter">
    {% for i in range(1,48) %}
  <option value="i{{i}}">I{{i}}</option>
    {% endfor%}
    {% for i in range(1,5) %}
    <option value="domain{{i}}">Domain {{i}}</option>
    {% endfor%}
    {% for i in range(1,9) %}
    <option value="aspek{{i}}">Aspek{{i}}</option>
    {% endfor%}
    <option value="indeks">Indeks</option>
  </select>
</div>
<div id="tampil_peta"></div>
<table id="name_tabel" border="1">
  <thead id="head_name">
  </thead>
  <tbody id="data_name"></tbody>
</table>
{% endblock %}
{% block scriptJS %}
<script src="assets/js/petabuta.js"></script>
{% endblock %}